<h2>Hall of Fame</h2>

<!-- referenced as decks - this should be a partial eventually, that can be used both here on the user profile, and within the show_all to diplay all decks -->

<%= @User.last.get_results %>

<h2>Game Over! Here are your results!</h2>

<p>User: <%= @round.user.name %></p>
<p>Deck: <%= @round.deck.name %></p>

<p>Check guesses to generate results...</p>
<p>Total guesses: <%= @guesses.count %></p>
<p>Correct guesses: <%= @correct_guesses.count %></p>
<p>Incorrect guesses: <%= @guesses.count - @correct_guesses.count %></p> 



<% if @decks %>
	<h3>Authored Missions</h3>

	<ol>
	<% @decks.each do |deck| %>
		<li><%= deck.name %>. Used in <%=deck.rounds.count%> Rounds!</li>
	<%end%>
	</ol>
	
<% else %>
	<h3>No Authored Missions Yet.</h3>
	<% if @user.id == session[:user_id]%>
		<a href="/decks/new"><button>Author a New Mission!</button></a>
	<%end%>
<% end %>


<% if @rounds %>
	<h3>Completed Missions</h3>
	<h4>Click for Results Page</h4>
	<ol>
		<% @rounds.each do |round| %>
			<li><a href="/rounds/<%= round.id %>/results"><%= round.deck.name %></a></li>
		<%end%>
	</ol>

<% end %>