<h2>Your Mission is underway <%= @round.user.name %>!</h2>

<h3>You must complete the <%= @round.deck.name %> mission. Failure is not an option.</h3>

<% if session[:result] == "correct" %>
  <div class="result">Your answer was satisfactory. Perhaps you are more competent than our records suggest.</div>
<% elsif session[:result] == "incorrect" %>
  <div class="result">Incorrect, unacceptable, and disappointing. Do try harder next time...</div>
<% end %>

<% if @card.image %>
  <div class="card-image"><img src="<%=@card.image.url%>"></div>
<% end %>
<p><%= @card.question %></p>

<form action="/rounds/<%= @round.id%>/card/<%= @card.id %>/guess" method="POST">
  <input type="text" name="guess[user_input]" placeholder="your answer goes here">
  <input type="submit" value="Click">
</form>
