<h2><%= @deck.name %></h2>

<% if @cards.length > 0%>
	<h3>Cards In <%= @deck.name %></h3>
	
	<table>
		<tr>
			<th>Questions</th>
			<th>Answers</th>
		</tr>
		<% @cards.each do |card| %>
			<tr>
				<td><%= card.question %></td>
				<td><%= card.answer %></td>
			</tr>

		<%end%>
	</table>

<% else %>
	<h3>Create your first card.</h3>

<% end %>

<a href="/decks/<%= @deck.id %>/card/new"><button>Add a Card To This Deck</button></a>

<% if @cards.length > 0%>
<a href="/decks/show_all"><button>Finished</button></a>
<% end %>